.empty-state {
  display: flex;
  flex-direction: row;
}

.empty-state img {
  height: 320px;
}

.empty-state .message {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.empty-state .message h3 {
  text-align: left;
}

.task-card {
  background: #f4f6f9;
  border-bottom: 2px solid #ddebff;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 990px) {
  .empty-state {
    flex-direction: column;
  }
  
  .empty-state img {
    height: 286px;
    margin-bottom: 12px;
  }
  
  .empty-state .message {
    align-items: center;
    flex-direction: column;
  }

  .empty-state .message h3 {
    text-align: center;
  }

  .section .section-title {
    margin: 70px 0 25px 0;
  }
}